img{
    border-radius: 10px;
    aspect-ratio: 1/0.9;
}
.card{
    border: none;
    border-radius: 25px;
}

.cardBody{
   border-radius: 25px; 
   
}

span{
    font-weight: 700;
    font-size: 20px;
}

.cardText{
  line-height: 5px;
}